
#login{   
     padding: 62px 0px 180px 0px;
 }
 .row{
     display: flex;
     flex-direction: column;
     margin: auto;
     justify-content: center;
     width: 340px;
     padding: 48px;
 }
 .form-control{
     padding: 10px;
     border-radius: 10px;
 }
 
 .form-label{
     padding: 10px;
     font-size: 1.3rem;
 }
 h1{
     margin: auto;
 }
 
 .row #btn{
     padding: 6px;
     margin: 10px auto;
     width: 133px;
     border-radius: 10px;
     color: white;
     background-color: green;
     cursor: pointer;
 }